.releases-container h1 {
  text-align: center;
}

.releases-container ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.releases-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.releases-tools {
  display: flex;
  justify-content: center;
}

.releases-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

.releases-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
  border: 3px, solid;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.release-outpust-list {
  display: flex;
  justify-content: center;
}

.releases-error {
  color: red;
  margin-top: 10px;
}
