.settings-container h5 {
    text-align: center;
}

.form-check {
    display: inline-flex; 
    align-items: center;
    margin-right: 20px; 
}

.form-check-input {
    margin-right: 0.7rem; 
}

.save-subscribe-button-container {
    display: flex;
    justify-content: center;
}

.save-subscribe-button {
    background: rgb(32,112,48);
    background: radial-gradient(circle, rgba(32,112,48,1) 10%, rgba(32,112,48,1) 50%, rgba(17,45,23,1) 90%);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-container-message p {
    text-align: center;
}