.user-page-container {
    height: 100vh; 
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0; 
}

.user-page-dashboard {
    width: 90%;
    height: auto;
    max-width: 45rem; 
    background: rgb(46,46,46);
    background: linear-gradient(100deg, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 50%, rgba(46,46,46,1) 100%);
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center; 
}

.user-page-dashboard h1 {
    color: gray;
    letter-spacing: 0.1rem; 
    font-weight: bold;
}

.user-page-dashboard-info-user {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-page-dashboard-log-off {
    margin-left: 20px;
}

.user-page-dashboard-user-image {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 20%;
    overflow: hidden;
}

.user-page-dashboard-user-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
